<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test3rd.Properties.Settings.MineConnectionString"
            connectionString="Data Source=USERCHI-70QC0BS\SQLSERVER;Initial Catalog=Mine;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>